.a
{
	height: 900px;
	width: 1300px;

}
.e
{
	height: 150px;
	width: 1300px;
	background-color: dimgrey;

}
.b
{
	font-size: 40px;
	color: white;
	padding-top: 15px;
	padding-left: 20px;
	float:left; 
}
.c
{
	float: right;
	padding-top: 55px;
	padding-right: 30px;
	color:grey;
}
.d
{
	height: 70px;
	width: 1280px;
	background-color: teal;
	padding: 10px;
}
ul
{
	list-style-type: none;
	margin: 0;
}
li
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
}
.g
{
	height: 500px;
	width: 1300px;
	background-color: white;
}
.h
{
	height: 200px;
	width: 1000px;
	padding-left: 70px;
	padding-top: 20px;
}
.gg{
	width: 300px;
	height: 150px;
	margin-left: 40px;
}
.i{

	margin-top: -170px;


}